<h1>Directives</h1>


<!-- <h4> {{age}}</h4> -->

<h5 *ngFor="let age of ages"> {{age}}</h5>
<ol>

    <li *ngFor="let age of ages">{{age}}</li>
</ol>

<select >

    <option *ngFor="let state of states">{{state}}</option>
</select>
<table border="2">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Produc Rating</th>
        </tr>
    </thead>


<tbody>
    <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td [ngStyle]="{'color':product.price<=2000?'green':'red'}">{{product.price}}</td>
        <td [ngClass]="{'green': product.rating>3.5,'yellow':((product.rating>2.5)&&(product.rating<=3.5)),
        'red':(product.rating<=2.5)}">{{product.rating}}</td>

    </tr>
</tbody>
</table>

<h2 *ngIf="false">Hello Everyone</h2> 
<h2 *ngIf="true">Welcome to my World</h2>